*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    color: #707070;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}

/* =================
Typography
================= */

h1,
h2,
h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #1792d2;
}

a {
    color: #1792d2;
}

a:hover,
a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

.logo-subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: 0.875rem;
}

.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-info {
    margin: 2em 0;
}

.sidebar-widget {
    font-size: 0.875rem;
}

.widget-title,
.widget-recent-post-title {
    font-size: 1rem;
}

.widget-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

.widget-recent-post-title {
    margin: 0.5em 0 1.5em;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2.5em 0;
    text-align: center;
    margin-bottom: 3em;
}

.margin-btm {
    margin-bottom: 2em;
}

footer {
    background: #143774;
    color: #ebebeb;
    font-size: 0.875rem;
    text-align: center;
    padding: 2em 0;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    .main {
        width: 70%;
    }

    .sidebar {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }

    .margin-btm {
        margin-bottom: 3em;
    }
}

/* Navigation */

.nav-ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-li {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

.nav-link:hover,
.nav-link:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 2px solid #1792d2;
}

.current-page:hover,
.current-page:focus {
    color: #707070;
}

@media (max-width: 675px) {
    .nav-ul {
        flex-direction: column;
    }

    .nav-li {
        margin: 0.5em 0;
    }
}

/* Articles */

.article-featured {
    border-bottom: 2.5px solid #ebebeb;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 66%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }

    .article-image {
        order: -2;
    }

    .article-info {
        order: -1;
    }

    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}

/* Widgets */

.sidebar-widget {
    border: 20px solid #ebebeb;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 2em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
}

.widget-link {
    text-decoration: none;
}
